#section-content-sidebar{
    display: flex;
    width: 15%;
    flex-direction: column;
    border-right: 1px solid gainsboro;
}

.sidebar-category-title{
    padding: 5px 10px;
    border-bottom: 1px solid gainsboro;
    color: gray;
}

.sidebar-category-shapes-ul{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 10px;
}

.sidebar-category-shapes-li{
    list-style: none;
}

.sidebar-category-images{
    height: 50px;
    width: 50px;
}